@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    overflow-x: hidden;
}

#logo img {
    width: 12.25rem;
    height: 6.875rem;
    display: block;
    position: absolute;
    left: 14rem;

}

.navbar {
    position: absolute;
    top: 34px;
    left: 36rem;

}

.navbar ul {
    display: flex;


}

.navbar li {
    margin: 5px;
    padding: 8px;
    font-family: 'Nunito', sans-serif;


}

.navbar ul li,
a {
    right-decoration: none;
    list-style: none;
    color: black;


}

#banner {
    height: 100vh;
    width: 100vw;
}

#banner img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

/* NavBar CSS Ends Here */

/* Contact Us CSS Starts Here */

.contactUsHeading {
    /* margin-left: 45vw;
    margin-right: 40vw; */
    margin-top: 2rem;
    /* align-items: center; */
    text-align: center;
    align-items: center;
    margin-bottom: 2rem;
}

.contactUsHeading h2 {
    font-size: xx-large;
    font-family: 'Nunito', sans-serif;
}

.contactSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    flex-wrap: no-wrap;
    margin-left: 10vw;
    margin-right: 10vw;
}

.contactSection div {
    width: 50%;
    height: 100vh;
}

.left {
    background: yellow;
    display: flex;
    justify-content: center;
}

.right {
    /* background: #f451c2; */
    /* display: flex;
    justify-content: center; */
    margin-left: 2rem;
}

 label {
    font-size: larger;
    font-family: 'Nunito', sans-serif;
}

input, textarea, button {
    width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background: #B6B6B6;
}

button {
    background: #4451c2;
    color: white;
    font-size: larger;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover {
    background: green;
    color: white;
}

.contactForm form{
    width: 100%;
}

.map {
    margin-left: 29px;
    margin-top: 1rem;
}

.row1 {
    display: flex;
    flex-direction: row;
}

.phone {
    text-align: center;
    background: pink;
}

.phone img {
    height: 50px;
    width: 50px;
}

@media (max-width: 600px) {
    .contactSection {
        flex-direction: column;
    }

    .contactSection div {
        width: 100%;
        margin-bottom: 2rem;
    }

    .left {
        flex-direction: column;
    }
}

/* Contact Us CSS Ends Here */